#mainHeader{
    background: url('../img/webp/hero-hotels.webp') center/cover;
    height: 100vh;
    padding-top: 80px;
    position: relative;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background :rgba(32, 31, 31, 0.486);
    }
    a{
        color: color('white');
    }
    margin-bottom: 80px;
}
.main-title{
    color: color('white');
    margin-top: 80px;
    @include display-flex();
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    .main-title--content{
        p{
            margin-bottom: 30px;
            line-height: 1.5em;
        }
    }
    @include media-breakpoint-up("lg"){
        margin-top: 160px;
        .main-title__btn{
            margin-top: 40px;
            font-size: font-size("lg");
        }
        h1{
            font-size: 3em;
        }
        p{
            font-size: font-size("xl");
        }
    }
}
.pageTitle{
    height: 20vh;
    align-items: center;
    .breadCrumbs  i{
        @include padding("left-right", 5px)
    }
}